body{
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    overflow: hidden; /* Esto contiene los márgenes internos */
    /* O también puedes usar: */
    border: 1px solid transparent;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: aliceblue;
}

h2{
    color: black;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

